<div class="container mt-4">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Patient Management</h2>

    <button
      class="btn btn-primary"
      routerLink="/patients/add">
      + Add Patient
    </button>
    <button (click)="logout()">
     Logout
    </button>
  </div>

  <div class="card shadow-sm">

    <div class="card-body">

      <div class="table-responsive">
        @if (isLoading) {
          <p>Loading patients...</p>
        }

        @if (errorMessage) {
          <p>{{ errorMessage }}</p>
       }
        <table class="table table-bordered table-hover align-middle">

          <thead class="table-dark">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Date of Birth</th>
              <th>Gender</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Blood Group</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>

            <tr *ngFor="let patient of patients">

              <td>{{ patient.patientId }}</td>

              <td>
                {{ patient.firstName }} {{ patient.lastName }}
              </td>

              <td>{{ patient.dateOfBirth }}</td>

              <td>{{ patient.gender }}</td>

              <td>{{ patient.phone }}</td>

              <td>{{ patient.email }}</td>

              <td>{{ patient.bloodGroup }}</td>

              <td>

                <button
                  class="btn btn-sm btn-warning me-2"
                  (click)="editPatient(patient.patientId)">
                  Edit
                </button>

                <button
                  class="btn btn-sm btn-danger"
                  (click)="deletePatient(patient.patientId)">
                  Delete
                </button>

              </td>

            </tr>
            <tr *ngIf="patients.length === 0">

        <td colspan="8" class="no-data">
          No patients found.
        </td>

      </tr>

          </tbody>

        </table>

      </div>

    </div>

  </div>

</div>