.patient-container {
  padding: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  font-weight: bold;
}

.error {
  margin-top: 20px;
}
.no-data {
  text-align: center;
  padding: 20px;
}